<%= form_with model: [@job_posting, @application], local: true do |form| %>
  <%= @job_posting.title %>
  <br />
  <%= @job_posting.description %>
  <br />
  <%= @job_posting.salary %>
  <% @fields.each do |field| %>
    <div class="field">
      <%= form.hidden_field :job_posting_id, value: @job_posting.id %>
      <%= form.label "responses[#{field["label"].underscore}]", field["label"] %>
      <% if field["type"] == 'text' %>
        <%= form.text_field "responses[#{field["label"].underscore}]" %>
      <% elsif field["type"] == 'textarea' %>
        <%= form.text_area "responses[#{field["label"].underscore}]" %>
      <% elsif field["type"] == 'number' %>
        <%= form.number_field "responses[#{field["label"].underscore}]" %>
      <% end %>
    </div>
  <% end %> <!-- This end closes the each block -->
  <%= form.submit "Submit Application" %>
<% end %> <!-- This end closes the form_with block -->
